:root{
    --frozenWhite: rgb(209, 247, 247);
    --white: white;
    --lightIndigo: rgb(101, 68, 247);
    --azure: azure;
    --gray: gray;
    --semiTransparentWhite255: rgba(255, 255, 255, 0.137);
    --halfTransparentGray128: rgba(128, 128, 128, 0.644);
    --blueGradient: linear-gradient(135deg, #5c6bc0 0%, #3f51b5 100%);
    --semiWhite241: rgb(241, 241, 241);
    --halfWhite175: rgb(175, 174, 174);
    --halfWhite219: rgba(219, 219, 219, 0.555);
    --lightGreen: rgb(0, 255, 0);
    --White204: rgb(204, 204, 204);
    --halfTransparentWhite248: rgba(248, 247, 247, 0.769);
    --blinkStartColorGreen: rgb(0, 192, 0);
    --blinkEndColorGreen: rgba(0, 192, 0, 0.555);
    --gray187: rgb(187, 187, 187);
    --dodgerBlue: dodgerblue;
    --fadeGreen: #95BB9F;
    --fadeGrass: #BBCFAF;
    --fadeSugar: #E5E5DF;
    --black: black;
    --SemiTransparentSugar: f8f7f7c4;
    --semiTransparentGray128: rgba(128, 128, 128, 0.336);
}

.font-Inter{
    font-family: "inter", serif;
}

